.footer{
    background: #FFFFFF;
    font-family: 'calibribold';
    padding: 59px 0;
    @media screen and(max-width:820px){
        padding: 29px 0;
    }
    @media screen and(max-width:768px){
        padding: 24px 0 28px 0;
    }
}
.footer-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 200;
    @media screen and(max-width:768px){
        flex-direction: column;
    }
}
.footer-nav-list{
    display: flex;
    align-items: center;
    @media screen and(max-width:768px){
        flex-direction: column;
    }
}
.footer-nav-list li{
    margin-right: 92px;
    @media screen and(max-width:820px){
        margin-right: 22px;
    }
    @media screen and(max-width:768px){
        margin: 0 0 17px 0;
    }
}
.footer-nav-list li a{
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #000000;
    @media screen and(max-width:820px){
        font-size: 20px;
    }
    @media screen and(max-width:768px){
        font-size: 24px;
    }
}
.footer-nav-list li:hover a{
    color: #FFF500;
    text-shadow: 2px 2px #000000;
}
.footer-nav p{
    font-size: 14px;
    line-height: 17px;
    color: #4A0C7A;
    @media screen and(max-width:768px){
        margin-top: 19px;
    }
}